:root{
  box-sizing: border-box;
  font-size: calc(1vw + 0.5em);
}
body{
  margin: 0;
  background-color: #F7F7FF;
  display: flex;
  flex-direction: column; 
  height: 100%;
}
.content{
  align-self: center;
  padding-left: 8px;
  padding-right: 8px;
}
.banner{ 
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #CCCCFF;
  padding: 20px 10px;
}
header a {
  display: flex;
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

#title{
  display:inline-flex;
  color: #00;  
  font: 40px Georgia; 
  font-weight: bold; 
  align-self: center;
}
.navbar{
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #e6e6fa;
  padding: 8px;
  font-family: sans-serif;
  color: black;
}
.navbar_items {
  display: flex;
  flex-direction: column; 
  padding-left: 0;
  margin-left: 0;
}
.navbar_items a {
  text-decoration: none;
  font-family: sans-serif;
  color: #5757a0;
  display: inline-block;
  padding: 10px 20px;
  background-color: lavender;
  border-bottom: 5px solid #5757a0;
}
.navbar_link{
display: inline;
}
.inn{
display: flex;
  flex-direction: column; 
}
#logo { 
  width:100px; 
  height:100px; 
  font-size: 25px; 
  padding-right: 8px;
}
table {
  background: #CCCCFF;
  border-collapse: collapse;
  border: 3px solid black;
  margin-bottom: 8px;
}
th, td {
  border: 1px solid black;
}
tr.even {
  background: #99FFCC;
}
footer{
  height: 80px;
  background-color: #CCCCFF;
  flex: 0 0 auto;
}
.footer-text-left{
  font-size: 18px;
  padding-left: 10px;
  float: left;
}
.blocks{
  display: flex;
  flex-flow: wrap;
}
.block-item2{
  order: -1;
}

@media screen and (min-width: 768px) {
  .banner{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  .leader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .blocks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .block-item1{
    order: -1;
  }
  table {
    margin-bottom: 0;
  }
  .navbar_items {
   display: flex;
   flex-direction: row; 
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ol{
    margin:0 auto;
    list-style-position: inside;
    width:768px;
    position: relative;
   }
  .ins{
    width:768px;
  }
  #logo{
    position: relative;
  }
  .navbar{
    position: relative;
  }
  .inn{
    width:768px;
    display: flex;
    flex-direction: row; 
  }
  .inh{
   width:768px;
  }
  .content h2{
  position: relative;
}
}